body {
  margin: 0px;
}
header {
  background-color: rgb(212, 212, 212);
  text-align: center;
  padding: 5px;
}
.animals {
  margin: 15px;
  padding: 0px;
  display: inline-block;
  border: 1px solid black;
}

.animals .description {
  text-align: center;
  padding: 10px;
}

.animals:hover {
  border: 3px solid black;
}
