body {
  background-color: rgb(219, 228, 228);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#counter_heading {
  text-align: center;
}
#counter_display {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 5em;
  text-align: center;
}
#buttons_div {
  text-align: center;
}
.buttons {
  background-color: rgb(161, 224, 255);
  border: none;
  padding: 10px;
  margin: 5px;
  cursor: pointer;
}
.buttons:hover {
  background-color: rgb(113, 208, 255);
}

#guessing_game_heading {
  text-align: center;
}
