/* #myButton {
    font-size: 4em;
    border: none;
    padding: 15px;
}

.enabled {
    background-color: bisque;
    color: blue;
}
.hover {
    box-shadow: 2px 2px 5px red;
    font-weight: bold;
} */